@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

#section1 {
    height: 100vh;
    background-image: url(../images/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}