@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

#section1 {
    height: 100vh;
    background-image: url(../images/me_landscape.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (orientation: portrait)
{
    #section1 { background-image:url(../images/me_portrait.jpg); }
}
@media screen and (orientation: landscape)
{
    #section1 { background-image:url(../images/me_landscape.png); }
}