@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

body{
    font-family:Arimo;
}

#div-btn-menu{
    float : left;
    
    
    
}

#btn-menu {
    text-align: left;
    color: white;
}


#section1 {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#div-greeting{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    color: white;
}

#div-greeting>h4{
    font-style: italic;
}

#div-greeting>h2{
   /* font-size: 9vw;*/
}

#div-btn-down{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    color: white;
}

#btn-down{
    color:inherit;
}


@-webkit-keyframes bounce {
     0%,100%{
         padding-top:0; 
     }
     50%{
         padding-top: 5vh;
     }
}

.bounce {
     -webkit-animation: bounce 1s linear;
     animation-iteration-count: 3;
}

/***************MEDIA QUERIES*********************************/

@media screen and (orientation: landscape)
{
    #section1 { 
        background-image:url(../images/me_landscape.jpg); 
        background-position: bottom right;
    }
    
    #div-greeting{
        margin-right: 50%;
        margin-left: 5%;
        padding-top: 10vh;
    }
    
    #div-greeting>h4{
        font-size: 5vh;
    }

    #div-greeting>h2{
        font-size: 8vh;
        padding-top: 3vh;
    }
    
    #btn-down{
        padding-top: 5vh;
        font-size: 5vh;
    }
    
}
@media screen and (orientation: portrait)
{
    #section1 { 
        background-image:url(../images/me_portrait.jpg);
        background-position: bottom left;
    }
    
    #div-greeting{
        padding-top: 50vw;
    }
    
    #div-greeting>h4{
        font-size: 5vw;
    }

    #div-greeting>h2{
        font-size: 9vw;
        padding-top: 3vw;
    }
    
     #btn-down{
        padding-top: 10vw;
        font-size: 6vw;
    }
}
